@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=League+Spartan:wght@300&family=Raleway:wght@100&family=Saira+Stencil+One&family=Source+Serif+4:wght@300&display=swap');
$lightbrown:#A48E6C;
$lightblue:#419B7B;
$spotOne: #7b55da;
$spotTwo: #084c95;
$spotThree: #0fafba;
.app{
    display: flex;
    justify-content: center;
    font-family: 'Hammersmith One', sans-serif;
    
    
    .container{
        width: 1024px;
        
        .link{
            text-decoration: none;
            color: inherit;
        }
        //LOGIN AND REGISTER
        .auth{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 88vh;
            color: white;
            background: #136a8a;
            background: 
                -webkit-linear-gradient(to right, #267871, #136a8a);
            background: 
                linear-gradient(to right, #267871, #136a8a);
            // margin: auto;
            box-shadow: 
                0px 2px 10px rgba(0,0,0,0.2), 
                0px 10px 20px rgba(0,0,0,0.3), 
                0px 30px 60px 1px rgba(0,0,0,0.5);
            border-radius: 8px;
            padding: 50px;

            h1{
                font-size: 35px;
                color: #fff;
                margin-bottom: 20px;
                  
            }
            
            form{
                display: flex;
                flex-direction: column;
                padding: 50px;
                background-color: white;
                width: 200px;
                gap: 20px;
                border-radius: 18px;
              

                input{
                    font-size: 15px;
                    padding: 20px;
                    border: none;
                    border-bottom: 2px solid gray;   
                }
                button{
                    font-size: 15px;
                    background-color: #1ca398;
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                    box-shadow: 0px 0px 0px 2px white;
                    border-radius: 3px;
                    padding: 5px 2em;
                    transition: 0.5s;
                    cursor: pointer;
                }
                button:hover{
                    background-color: white;
                    transition: 0.5s;
                }
                p{
                    font-size: 12px;
                    color: red;
                    text-align: center;
                    font-weight: bold;
                }

                span{
                    .link{
                        text-decoration: none;
                        color: #07516c;
                        font-size: 15px;
                        font-weight: bold;
                    }
                    .link:hover{
                        color: rgb(104, 183, 210);
                    }
                    color: black;
                    font-size: 14px;
                    text-align: center;
                }
            }
        }    

        //NAVBAR
        .navbar{
            .container{
                padding: 10px 0px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .logo{
                    img{
                        width: 120px;
                        margin-left: -16px;
                    }
                }
                .links{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-weight: 500;
                }

                h6{
                    font-size: 17px;
                    font-weight: 500;
                    color: #fff;
                    line-height: 30px;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    background-image: linear-gradient( 160deg, $spotThree, $spotTwo );
                    width: 105px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    gap: 15px;
                    border-radius: 30px;
                    cursor: pointer;
                    user-select: none;
                    position: relative;
                    transition: box-shadow 0.6s;
                }
                h6:hover{
                box-shadow: 
                0 0 10px 2px $spotTwo,
                0.2rem 0.2rem 30px mix(rgb(67, 64, 64), $spotOne, 50%);
                }

                span{
                    cursor: pointer;
                    color: black ;
                }
                span:hover{
                    color:#076486 ;
                    font-weight: 600;
                    font-size: 16px;
                }

                .write{
                    background-color: #076486;
                    margin-top: 6px;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 400;
                    color: white;
                    border: 1px solid white;

                    &:hover{
                        color: #18130b;
                        background-color: white;
                        border: 1px solid #18130b;
                    }


                }
            }
        }

        //FOOTER
        footer{
            margin-top: 100px;
            padding: 20px;
            background-color: $lightblue;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;
            img{
                height: 50px;
            }
        }
        //Home
        .home{
            .posts{
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 150px;
                
            }

            .post{
                display: flex;
                gap: 100px;

                &:nth-child(2n+1){
                    flex-direction: row-reverse;
                }
                .img{
                    flex: 2;
                    position: relative;

                    &::after{
                        content:"";
                        width: 100%;
                        height: 100%;
                        background-color:$lightblue;
                        position: absolute;
                        top: 20px;
                        left: -20px;
                        z-index: -1;
                    }

                    img{
                        width: 100%;
                        height: 400px;
                        object-fit: cover;
                    }
                }
                .content{
                    flex: 3;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;


                    h1{
                        font-size: 42px;
                        background-image: linear-gradient(
                                to right,
                                #2d4bce,
                                #058c5a 50%,
                                #000 50%
                            );

                            background-size: 200% 100%;
                            background-position: -100%;
                            display: inline-block;
                            padding: 5px 0;
                            position: relative;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            transition: all 0.3s ease-in-out;
                    }
                    h1:before{
                        content: '';
                        background: #106483;
                        display: block;
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        width: 0;
                        height: 3px;
                        transition: all 0.3s ease-in-out;
                      }

                      h1:hover {
                        background-position: 0;
                       }
                       
                       h1:hover::before{
                         width: 100%;
                       }

                    p{
                        font-style: 18px;
                    }

                    button{
                        width: max-content;
                        padding: 10px 20px;
                        background-color: white;
                        border: none;
                        cursor: pointer;
                        border: 1px solid $lightblue;
                        color: $lightblue;
                        font-weight:bold ;

                        &:hover{
                             border: 1px solid white;
                             color: #18130b;
                             background-color: $lightblue;
                        }
                    }
                }
            }
        } 
        
        //SINGLE
        .single{
            display: flex;
            gap: 50px;

            .content{
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 20px;

                img{
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }
                .user{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    font-size: 14px;
                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;


                    }
                    span{
                        font-weight: bold;
                        
                    }
                    p{
                        line-height: 0px;
                    }

                    .edit{
                        display: flex;
                        gap: 5px;


                        img{
                            width: 20px;
                            height: 20px;
                            cursor: pointer;

                        }
                    }
                }

                h1{
                    font-size: 40px;
                    color: #136a8a;
                }
                p{
                    text-align: justify;
                    line-height: 30px;
                }

            }
            .menu{
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 25px;


                h1{
                    font-size: 23px;
                    color: #41382B;
                }

                .post{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    img{
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                    }

                    h2 {
                        color: #555;
                        font-size: 17px;
                      }

                      button{
                        width: max-content;
                        padding: 10px 20px;
                        background-color: white;
                        border: none;
                        cursor: pointer;
                        border: 1px solid $lightblue;
                        color: $lightblue;
                        font-weight:bold ;

                        &:hover{
                             border: 1px solid white;
                             color: #18130b;
                             background-color: $lightblue;
                        }
                    }
                }    
            }
        }
    //WRITE
    .write{
        margin-top: 20px;
        display: flex;
        gap: 20px;

        .content{
            flex: 5;
            display: flex;
            flex-direction: column;
            gap: 20px;

            input{
                padding: 10px;
                border: 1px solid lightgreen;
            }

            .editorContent{
                height: 300px;
                overflow: scroll;
                border: 1px solid black;

                .editor{
                    height: 100%;
                    border: none;
                    
                }
            }
        }

        .menu{
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 20px;
            


            .item{
                border: 1px solid rgba(211, 211, 211, 0.822);
                padding-top: 12px;
                padding-left: 8px;
                padding-bottom: 8px;
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-size: 12px;
                color: #555;
                gap: 10px;
                


                h1{
                    font-size: 20px;
                }

                .file{
                    text-decoration: underline;
                    font-weight: 500;
                    font-size: 12px;
                    color: rgb(29, 28, 28);
                }
                .file:hover{
                    text-decoration: none;
                    color: #267871;
                }

                .buttons{
                    display: flex;
                    justify-content: space-between;

                    :first-child{
                        cursor: pointer;
                        color: rgb(9, 161, 146);    
                        background-color: white;
                        border: 1px solid rgb(84, 190, 84);
                        padding: 3px 5px;
                    }

                    :last-child{
                        cursor: pointer;
                        color: white;
                        background-color: rgb(28, 223, 204);
                        border: 1px solid rgb(84, 190, 84);
                        padding: 3px 5px;
                    }
                }

                .cats{
                    display: flex;
                    align-items: center;
                    gap: 2px;
                    color: #1d8662;
                    font-size: 14px;
                }
            }
        }
    }

    }
}